.loader {
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 5px;
    background-color: #8C43FF;
    animation: fill 1s linear infinite;
}

@keyframes fill {
    0% { right: 100%; }
    100% { right: 0; }
}